@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    
<p>We are BlowOut Instrument Rentals! Thank you for coming to our website. </p>

<p>Here you can check the which instruments we rent and the rental prices. </p>

<p> Please reach out if you have any questions! Thank you!</p>
