@{
    ViewBag.Title = "Blow Out!";
}


<body>

    <img src="~/Content/image/violin.jpg" style="width:225px;height:150px;"/>
    <img src="~/Content/image/kids music.jpg" style="width:209px;height:150px;" />
    <img src="~/Content/image/marching band.jpg" style="width:230px;height:150px;" />
    <img src="~/Content/image/kids teacher music.jpg" style="width:230px;height:150px;" />
    <img src="~/Content/image/FSYO-Event-Pic.jpg" style="width:230px;height:150px;" />
    <div class="jumbotron">
        <h1>Welcome to Blow Out</h1>
        <p class="lead">We blow the competitors out of the water!</p>
    </div>

</body>
