@{
    ViewBag.Title = "Blow Out!";
}

<body>

    <div class="jumbotron">
        <img src="~/Content/image/music players.jpg" />
        <h1>Welcome to Blow Out</h1>
        <p class="lead">We blow the competitors out of the water!</p>
    </div>

</body>
