@model BlowOutProject.Models.Instrument

@{
    ViewBag.Title = Model.InstDescription;
}
<link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
<h2>@Model.InstDescription</h2>
<h3>Click to see pricing:</h3>
<p>@Html.ActionLink("New", "New", "Rentals", new {nameIn = Model.InstDescription })</p>
<p>@Html.ActionLink("Used", "Used", "Rentals")</p>
<br />

<img src="~/Content/image/@{@Model.InstDescription}.jpg" class="detailPics" />
