@model BlowOutProject.Models.Instrument

@{
    ViewBag.Title = Model.Name;
}
<link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
<h2>@Model.Name</h2>

 <img src="~/Content/image/@{@Model.Name}.jpg" class="detailPics" />

