@model IEnumerable<BlowOutProject.Models.Instrument>

@{
    ViewBag.Title = "Index";
}
<!--connect to stylesheet-->
<link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
<h2>Possible instruments to rent:</h2>

<table>
    @foreach (var item in Model)
    {
        <a href='@Url.Action("Create", "Clients", new { id = item.InstrumentID })'>
            <img src="~/Content/image/@{@item.InstDescription}.jpg" />
            <p>@{@item.InstType}  @{@item.InstDescription}</p>
        </a>
    }
</table>
