
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
<h2>Index</h2>

<a href='@Url.Action("Index", "Home")'>
    <img src="~/Content/image/thetrumpet.jpg" class="ourImage"/>
</a>

<a href='@Url.Action("Index", "Home")'>
    <img src="~/Content/image/thetrombone.jpg" class="ourImage"/>
</a>

