@model IEnumerable<BlowOutProject.Models.Instrument>
@{
    ViewBag.Title = "Index";
}
<!--connect to stylesheet-->
<link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
<h2>Possible instruments to rent:</h2>

<!--linked instrument images menu. Takes the instruments from the database-->
@foreach (var item in Model)
{
    <a href='@Url.Action("AddClient", "Rentals", new { id=item.InstrumentID })'>
        <img src="~/Content/image/@{@item.InstDescription}.jpg" class="ourImage" />
        <br /><p>@item.InstType  @item.InstDescription</p>
    </a>
}

