/*font for footer text*/
.myFooterText {
    font-family: 'Baskerville Old Face';
}

/*dimensions for images*/
.ourImage {
    height: 200px;
}

.detailPics {
    height: 400px;
}

/*table styling*/
.table-bordered {
    border: 1px solid navy;
}
